{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

    {% if username %}

        <h1>Bienvenido, {{ username | capitalize }}</h1> <!-- capitalize es para que la primer letra aparezca en mayuscula -->

    {% endif %}

    {% if user_ip %}

        <h3>Tu Ip es {{ user_ip }}</h3>

    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <ul>
        {% for todo in todos %}
            {{macros.render_todo(todo)}}
        {% endfor %}
    </ul>
{% endblock%}